*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    background-color: rgb(255, 209, 220);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card-body{
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px;
}
.card-body h1{
    margin: 15px;
    font-size: 70px;
}
.card-body button{
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    color: #262626;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 5px;
    cursor: pointer;
    transition: 0.5s;
}
button#dec{
    background: #f6e58d;
}
button#dec:hover{
    background: #f79f1f;
    color: white;
}

button#re{
    background: #f3a683;
}
button#re:hover{
    background: #ea2027;
    color: white;
}

button#inc{
    background: #c4e538;
}
button#inc:hover{
    background: #009432;
    color: white;
}




